{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center my-5">
    <h1 class="my-4">GESTION DES VEHICULES</h1>
    <img src="{{ asset('images/agence/banniere-profil.jpg') }}" alt="image profil" class="card-img-top"
            style="object-fit: contain;">
    <div class="alert alert-info">💬 Vous trouverez ci-dessous le tableau contenant l'ensemble des véhicules de l'agence
    </div>

    {% for message in app.flashes('success') %}
    <div class="text-center alert alert-success">
        {{ message }}
    </div>
    {% endfor %}


    <a href="{{ path('admin_new_vehicule') }}" class="btn btn-primary mt-3">Ajouter un véhicule</a>
</div>
<table class="table table-bordered table-striped table-hover text-center">
    <thead class="table-dark">
        <tr>
            {% for data in colonnes %}
            {% if (data != 'id') and (data != 'content') %}
            <th>{{ data |capitalize }}</th>
            {% endif %}
            {% endfor %}
            <th>Voir</th>
            <th>Editer</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for data in vehicules %}
        <tr>
            <td>{{ data.title }}</td>
            <td>{{ data.brand }}</td>
            <td>{{ data.model }}</td>
            <td><img src="{{ asset('images/vehicules/' ~ data.image) }}" alt="image de l'article" style="height: 120px; width: 120px; object-fit: contain;"></td>
            <td>{{ data.price }} €</td>
            <td>{{ data.createdAt | date('d/m/Y à H:i:s') }}</td>
            <td>{{ data.updatedAt | date('d/m/Y à H:i:s') }}</td>
            <td><a href="{{ path('agence_show', {'id': data.id}) }}" class="btn btn-success"><i
                        class="fa-solid fa-eye"></i></a></td>
            <td><a href="{{ path('admin_edit_vehicule', {'id': data.id}) }}" class="btn btn-primary"><i
                        class="fa-solid fa-pen-to-square"></i></a></td>
            <td><a href="{{ path('admin_delete_vehicule', {'id': data.id}) }}" class="btn btn-danger"><i
                        class="fa-solid fa-trash-can"></i></a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}