{% extends 'base.html.twig' %}

{% block title %}Accueil Agence Location{% endblock %}

{% block body %}
<div class="container text-center my-5">
<h1>Découvrez la flotte de véhicule chez BestCar</h1>
</div>

<section class="container" style="display:flex; justify-content: space-around; flex-wrap: wrap;">

    {% for vehicule in vehicules %}

    <div class="card text-center mb-4" style="width: 25rem; height: 350px;">
    <a href="{{ path('agence_show', {"id" : vehicule.id }) }}" style="text-decoration: none; color: inherit;">
        <span class="badge rounded-pill text-bg-primary"><i class="fa-solid fa-tag"></i> {{ vehicule.price }} € / jour</span>
        <img src="{{ asset('images/vehicules/' ~ vehicule.image) }}" class="card-img-top" alt="image du vehicule" style="height: 350px; object-fit: cover; border-radius: 0.375rem;">
        <div class="card-body pb-0" style="margin-top: -80px;">
            <h5 class="card-title" style="color: white; font-weight: bold;">{{ vehicule.title }}</h5>
            {# <p class="card-text my-3">{{ vehicule.content | slice(0, 200) | raw }}</p> #}
        </div>
    </a>
    </div>


    {% endfor %}

</section>



{% endblock %}